<h2>CD Organizer</h2>

<form action="/list" method="post">
  <label for="title">CD Title</label>
  <input type="text" name="title" id="title">
  <button type="submit" class="btn btn-info">Add to list</button>
</form>
