#if ($cd)
  <h1>$cd.getTitle()</h1>
  
  <!-- <form action="/titles" method="post">
    <label for="artist">CD Artist</label>
    <input type="text" name="title" id="title">
    <button type="submit" class="btn btn-info">Add artist</button>
  </form> -->

#else
  <h1> CD not found </h1>
#end

<a href="/">Add another CD</a>
<a href="/list">All CDs</a>
